/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.clearfix::before, 
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
header {
    background-color: rgb(56, 56, 161);
    height: 300px;
    color: white;
}
.theory {
    font-size: 12px;
    padding: 30px;
}
h1 {
    margin-left: 400px;
    font-size: 40px;
    margin-top: 90px;
}
.shortpara {
    margin-left: 440px;
    margin-top: 20px;
    font-size: 12px;
}
.nav {
    font-size: 8px;
    color: white;
    margin-left: 980px;
    margin-top: -190px;
    word-spacing: 10px;
}
a {
    color: white;
    text-decoration: none;
    
}
button {
    background-color: blue;
    color: white;
    margin-top: 15px;
}
.column {
    float: left;
    width: 30%;
}
h2 {
    font-size: 20px;
    color: rgb(32, 32, 112);
    margin-top: 50px;
}
.midpara {
    font-size: 12px;
    color: gray;
    margin-top: 15px;
}
.article {
    background-color: rgb(88, 88, 224);
    height: 100px;
    
}